/* task a */
.template_product .product-form__buttons .product-form__submit {
  background: green;
  color: #fff;
}
.template_product .product-form__buttons .product-form__submit:hover {
  background: blue;
}
.template_product .product-form__buttons .product-form__submit.disabled {
  background: red;
}
.template_product .product-form__buttons .product-form__submit:after {
  display: none !important;
}
.template_product .product-form__buttons .product-form__inventory-info {
  text-align: center;
  margin: 0 0 16px;
  font-weight: 600;
  display: block;
  line-height: 1;
}

/* ------------- task a */